@model IQueryable<Customer>

@{
}

@foreach( var customer in Model )
{
    <div>
        <h3>@customer.FirstName</h3>
        <h4>@customer.FullName</h4>
        <a href="mailto:@customer.EmailAddres">
            @customer.EmailAddres
        </a>

        <form asp-action="delete" asp-controller="customer">
            <input type="hidden" name="CustomerId" id="CustomerId" value="@customer.CustomerId" />
            <input type="submit" value="Excluir" />
        </form>

    </div>
}
